<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Make Deliveries</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.2/dist/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    
    .navbar {
      background-color: rgb(175, 235, 175);
    }
    
    .navbar .nav-link {
      padding: 0.5rem 1rem;
      font-size: 20px;
    }

    .navbar-nav {
      justify-content: center;
      width: 100%;
      text-align: center;
    }

    .navbar-nav .nav-item {
      display: inline-block;
    }


    .small-icon {
      height: 120px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="static/Ino.ico" class="small-icon">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contacts') }}">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>